<section class="section">
    <div class="container">
        <h1 class="title">
            Dixon Database
        </h1>
        <p class="subtitle">
            Dixon is a recreational center where members can workout and participate in physical activities.
            There are classes, clubs, and personal trainers available for members to sign up for.
            The purpose of this database is to create a system for the rec center to keep track of all members as well as all the on going classes and activities that are available.
        </p>
    </div>
</section>
